################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DevMeet/.vs/DevMeet/v16/TestStore/0
